/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

/* Product Archive Page */

.archive-page-header {
	width: 1024px;
	margin: 0 auto;
	text-align: center;
	h1 {
		text-transform: uppercase;
		margin-top: 3rem;
	}
	p {
		margin-bottom: 3rem;
	}
}

.archive-container {
	width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

/* Product information */

.product-info-archive {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
.product-blocks {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    max-width: 22%;
    flex: 1 0 22%;
	a {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #400c0d;
    h3 {
    font-size: 1.3rem;
    }
}
	a:hover {
    text-decoration: underline;
    color: #872424;
}
	img {
    display: block;
    margin: 0 auto 1.5rem;
    max-width: 60%;
}
}
}
}

.product-grid {
	display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-bottom: 4.5rem;
    
    .product-grid-item {
    	border: 1px solid #e1e1e1;
    	flex: 0 1 25%;
    	max-width: 25%;
    	
	    	img {
	    	    height: 234px;
	    		width: auto;
	    		max-width: none;
	    	}

	.grid-product-info {
    	padding: 0.75rem 1rem;
    	width: auto;

		    .entry-title {
		    padding-right: 0.25rem;
		    background: #fff;
			}
			
			.entry-title:before {
		    float: left;
		    width: 0;
		    white-space: nowrap;
		    content: "...................................................";
			}

			.price {
			    float: right;
			    padding-left: .25rem;
			    background: #fff;
			}
		}
	}
}

/* Blog Page */
.blog-content-wrapper {
    width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-between;
    .blog-content {
    border-right: 1px solid #e1e1e1;
    padding-top: 3rem;
    padding-right: 5%;
    width: 70%;
    text-align: left;

    article {
    	padding-bottom: 3rem;
    }

    .blog-entry-header {
    	text-align: left;
    }

	.entry-header{
    	text-align: left;
    }

    .comments-link a {
		color: #db272a;;
		text-decoration: none;
    }
    .comments-link a:hover {
		color: #5C0F0F;
		text-decoration: underline;    	
    }

    .cat-links a {
		color: #db272a;;
		text-decoration: none;
		padding-right: 1.2rem;
    }
    .cat-links a:hover {
		color: #5C0F0F;
		text-decoration: underline;    	
    }

    .tags-links a {
    	color: #db272a;;
		text-decoration: none;
    }
    .tags-links a:hover {
    	color: #5C0F0F;
		text-decoration: underline;
    }

 hr {
        box-sizing: content-box;
        background-color: #ccc;
        height: 1px;
        }

.decorative {
    border: none;
    color: #e1e1e1;
    margin-bottom: 3rem;
    max-width: 320px;
    padding: 0;
    width: 50%;
    text-align: center;
}
    .decorative:after {
    background: 0 0;
    content: '\f111';
    display: inline-block;
    font-family: FontAwesome;
    font-size: 14.4px;
    font-size: .9rem;
    position: relative;
    top: -.875em;
    }

    .reply-title {
   	color: #400c0d;
    font-size: 1.6rem;
    margin-bottom: 0;
    }

    .logged-in-as {
    	display: none;
    }
        .wp-post-image {
    	margin-bottom: .5rem;
    	max-width: 450px;
    	min-width: 440px;
		}
		.entry-title a {
		color: #db272a;
		font-size: 1.8rem;
		text-decoration: none;
		}
		.entry-title a:hover {
		color: #5C0F0F;
		text-decoration: underline;
		}
		h2 {
			margin-bottom: 0;
		}
		a.read-more {
			color: #db272a;
			font-weight: 700;
			text-decoration: none;
		}
		a.read-more:hover {
			text-decoration: underline;
			color: #5C0F0F;
		}
    } /* .blog-content ends */
    
    .widget-area {
        width: 30%;
        padding-left: 5%;
        padding-top: 0.9rem;
        padding-bottom: 3rem;
        h2 {
            text-transform: uppercase;
            color: #333;
            font-size: 1.2rem;
            margin-bottom: .75rem;
        }
        .widget {
        color: grey;
        margin: 0 0 1.5rem;
        }
        p {
            display: flex;
            margin-bottom: .5rem;
        a {
        text-decoration: none;
        color: #db272a;
        }
        a:hover {
        text-decoration: underline;
        color: #861618;
        }
        .fa {
        margin-right: .5rem;
        width: 20px;
        }
        }
        .day-of-week {
        font-weight: bold;
        color: #db272a;
        padding-right: 0.3rem;
        }
        li {
            list-style: none;
            a {
        text-decoration: none;
        color: #db272a;
        }
        a:hover {
        text-decoration: underline;
        color: #861618;
        }
        }
    } /* .widget-area ends */
} /* .blog-content-wrapper ends*/