.site-branding {
    display: flex;
    width: 100%;
    padding-top: 1.5 rem;
    padding-bottom: 1.5 rem;

}

.container {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
	width: 300px;
}

.site-header {
    background-color: #fafafa;
    padding-top: 2.25rem;
	border: 1px solid #e1e1e1;
	height: 118px;
}

.social {
    color: grey;
    float: left;
    margin-top: 0px;
    width:400px;
     i{
        padding-right: 1.5rem;
    }
    li {
        float: left;
        margin: 5px 0px;
        display:inline;
    }
    ul {
    list-style: none;
}
}

.social ul li {
    display: inline;
}

.main-navigation {
	width: 100%;
	margin-top: $base__space-unit;
	border-bottom: 1px solid #e1e1e1;
}

.main-navigation li:first-child {
border-left: 1px solid #e1e1e1;
}

.main-navigation li {
	border-right: 1px solid #e1e1e1;
}

.main-navigation li a {
    padding: .75rem 1.5rem;
}